  <div class="album py-5 bg-light">
    <div class="container">
    <div class="row">
    <% @pics.each do |pic| %>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <%= image_tag(pic.reduce_image_size ) if pic.image.attached? %>
            <div class="card-body">
              <p class="card-text"><%= pic.name.truncate(15) %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'View full', pic, class: 'btn btn-sm btn-info' %>
                </div>
                <small class="text-muted"><%= distance_of_time_in_words(pic.created_at, Time.now) %> ago</small>
              </div>
              <small class="text-muted"> showcased by <%= pic.user.username %></small>
            </div>
          </div>
        </div>
        <% end %>
    </div>
    <div class="text-center">
    <p>Wanna showcase your latest style via pic... </p>
    <%= link_to 'Add yours', new_pic_path, class: 'btn btn-lg btn-info text-center' %>
    </div>
    </div>
    </div>
